body {
  margin: 0px;
}

a {
  color: blue;
  text-decoration: none;
  text-align: left;
}

h1 {
  font-size: 48px;
  text-align: center;
  border-bottom: 5px solid gray;
  margin: 0;
  padding: 20px;
}

.list {
  font-size: 24px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  border-bottom: 5px solid gray;
}

#grid #list {
  border-right: 5px solid gray;
  width: 130px;
  margin: 0;
  padding: 35px;
}

#grid #article {
  padding-left: 100px;
  padding-bottom: 50%;
  font-size:20px;
}

@media(max-width:600px) {
  #grid {
    display: block;
  }

  #grid #list {
    border-right: none;
  }

  #grid #article {
    padding-left: 15px;
    padding-bottom: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #bbb;
  }

  a {
    color: powderblue;
  }
}
